ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
text-align: center;
}

ul.topnav li {display:inline;
}

ul.topnav li a {
  /*display: inline;*/
  color: black;
  font-family: 'Lobster', cursive;
  text-align: center;
  padding: 2px 20px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 21px;

}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}
#name{
  font-family: 'Aguafina Script', cursive;
  margin-top: 5%;
  display: block;
  text-align: center;
font-size: 40px;
}
