ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgba(8, 114, 255, 0.38);
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  font-family: 'Lobster', cursive;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}
.button{

  border:none !important;

  background-color:rgba(8, 114, 255, 0.38);
  font-size: 100%;
  height: 40px;
  width: 200px;
  color: white;
font-family: 'Lobster', cursive;
  border-radius: 20px;
}
ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}
#container {
     width: 100%;
     height: 100%;
     display: table;

margin-top: 60px
 }
 #container .imageContainer {
        text-align: center;
        vertical-align: middle;
        display: table-cell;

    }

    #container  .imageContainer img {

        width: 400px;
        height: 400px;

    }




@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }


  }




@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;
}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;

  }
  ul.topnav.responsive li {
    float: none;
    display: inline;

  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left

  }

  #aboutme{

height: 500px;
  }

  #summary{
    width:60%;
    /*float: right;*/
    /*margin-left: 40%;*/
  }
  #container {
       width: 100%;
       height: 100%;
       display: table;
margin-top: 60px
   }
   #container .imageContainer {
          text-align: center;
          vertical-align: middle;
          display: table-cell;

      }

      #container  .imageContainer img {

          max-width: 360px;
          max-height: 260px;

      }

}


/***********ABOUT ME PAGE*/


.box {

    width: 100px;
    height: 100px;
    background-color: rgba(8, 114, 255, 0.38);
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:rgba(8, 114, 255, 0.38); left:0px; top:0px;}
  25%  {background-color:rgba(8, 114, 255, 0.38); left:350px; top:0px;}
  50%  {background-color:rgba(8, 114, 255, 0.38); left:350px; top:400px;}
  75%  {background-color:rgba(8, 114, 255, 0.38); left:0px; top:400px;}
  100% {background-color:rgba(8, 114, 255, 0.38); left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color:rgba(8, 114, 255, 0.38); left:0px; top:0px;}
    25%  {background-color:rgba(8, 114, 255, 0.38); left:350px; top:0px;}
    50%  {background-color:rgba(8, 114, 255, 0.38); left:350px; top:500px;}
    75%  {background-color:rgba(8, 114, 255, 0.38); left:0px; top:500px;}
    100% {background-color:rgba(8, 114, 255, 0.38); left:0px; top:0px;}
}



.boxx {

    width: 100px;
    height: 100px;
    background-color: rgba(8, 114, 255, 0.38);
    position: relative;
    -webkit-animation-name: boxx; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: boxx;
    animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes boxx {
  0%   {background-color:rgba(8, 114, 255, 0.38); left:0px; top:0px;}
  25%  {background-color:rgba(8, 114, 255, 0.38); left:350px; top:0px;}
  50%  {background-color:rgba(8, 114, 255, 0.38); left:350px; top:-500px;}
  75%  {background-color:rgba(8, 114, 255, 0.38); left:0px; top:-500px;}
  100% {background-color:rgba(8, 114, 255, 0.38); left:0px; top:0px;}
}

/* Standard syntax */
@keyframes boxx{
    0%   {background-color:rgba(8, 114, 255, 0.38); left:0px; top:0px;}
    25%  {background-color:rgba(8, 114, 255, 0.38); left:350px; top:0px;}
    50%  {background-color:rgba(8, 114, 255, 0.38); left:350px; top:-500px;}
    75%  {background-color:rgba(8, 114, 255, 0.38); left:0px; top:-500px;}
    100% {background-color:rgba(8, 114, 255, 0.38); left:0px; top:0px;}
}





#aboutme{

height:400px;}

#summary{
  width:40%;
  /*float: right;*/
  margin-left: 40%;
  padding-top: 5%;
  animation: fadein 15s;
  -moz-animation: fadein 15s; /* Firefox */
  -webkit-animation: fadein 15s; /* Safari and Chrome */
  -o-animation: fadein 15s; /* Opera */
}


#me {
  float: left;
  margin-left:100px;
  height: 55%;

  padding-top: 60px;
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 15s;
    -moz-animation: fadein 15s; /* Firefox */
    -webkit-animation: fadein 15s; /* Safari and Chrome */
    -o-animation: fadein 15s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

#sugey{
    font-family: 'Lobster', cursive;
    font-size: 25px;
    color:rgba(8, 114, 255, 0.38);
}

#HTML{
   font-family: 'Lobster', cursive;
   font-size: 16px;
 }

 #abmepg{
   margin-top: 10%;
 }
